<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ $.Site.BaseURL }}">
	<meta name=description content="Retraite huisje de Blijde Poort heb ik gebouwd om mensen, reizigers in het leven een moment van rust en bezinning te bieden. Een plek waar het fijn toeven is, ver weg van alle hectiek van de grote steden en de drukte die we zo in ons leven hebben gecreëerd. Een simpel, maar comfortabele plek midden in een boomgaard met een mooi uitzicht. Met mooie fiets en wandeltochten in de buurt. Denk aan de Sallandse heuvelrug,of de Holterberg, de Lemelerberg of een mooie wandeltocht langs de IJssel.
De stilte in onszelf terugvinden, de aandacht voor de kleine dingen. Inspiratie opdoen, opladen en voelen wat we werkelijk willen. Ik kan vanuit mijn professionele achtergrond als Haptonoom en Rebalancer een ontspannen bedding bieden dmv gesprekken, lichaamswerk sessies of ontspanningsmassages!">
	<meta name=keywords content="retraite,meditatie,stilte,rust,natuur,massage,sauna">
	
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="DeBlijdePoort | Terug naar de stilte, terug naar jezelf">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/og-image.jpg">

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
